/* ==========================================================================
   States
   ========================================================================== */


* {
	outline: none;
}

.row-offset-14 {
    margin: 0 -7px;
    & > [class^="col-"], & > [class*=" col-"] {
        padding: 0 7px;
    }
}

.row-offset-22 {
    margin: 0 -11px;
    & > [class^="col"], & > [class*=" col"] {
        padding: 0 11px;
    }
}

.is-succes {

}

.is-error {
	
}
