// --------------------------------------------------------------------------
// Layout
// --------------------------------------------------------------------------

html, body {
	height: 100%;
}

body {

}

.app {
	position: relative;
	min-height: 100%;
	overflow: hidden;
}

.container-fluid {
	max-width: 1170px;
}
